<% include ../../partials/header %>
<% include ../../partials/menu %>


<% if(user.activated==0){ %>

<div> Please confirm your account through link we sent you on your email. </div>

<%} else{%>
<% include ../../partials/options %>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io('http://localhost:3000/update');
    console.log(socket);
    socket.on('update', function (msg) {
        location.reload();
    });
</script>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Creator</th>

            <th scope="col">Assigned To</th>
            <th scope="col">Status</th>
            <% if(user.role=="admin"){%>

            <th scope="col">Archived</th>

            <% } %>
            <th scope="col">Edit</th>
            <th>Delete
                <%= user.role=="user" ? "(Only the ones you created)" : "" %>
            </th>
            <% if(user.role=="admin"){%>

            <th scope="col">Hard Delete</th>

            <% } %>

            <th scope="col">Display Edit History</th>
        </tr>
    </thead>
    <tbody>
        <% tickets.forEach(function(ticket) { %>
        <tr>
            <td>
                <%= ticket.title %>
            </td>
            <td>
                <%= ticket.content %>
            </td>
            <td>
                <%= ticket.creator %>
            </td>
            <td>
                <%= ticket.assignedTo %>
            </td>
            <td>
                <%= ticket.status %>
            </td>
            <% if(user.role=="admin"){%>

            <th scope="col">
                <%=ticket.archived==1 ? "yes" : "no" %>
            </th>

            <% } %>

            <td>
                <a href="/tickets/edit/<%= ticket.id %>"><i class="far fa-edit"></i> </a>
            </td>

            <td>
                <% if(ticket.creator == user.username || user.role=="admin"){ %>
                <a href="/tickets/delete/<%= ticket.id %>"> <i class="fa fa-trash" aria-hidden="true"></i></a>
                <% } %>
            </td>
            <% if(user.role=="admin"){%>

            <td scope="col"><a href="/tickets/deleteHard/<%= ticket.id %>"> <i class="fas fa-times"></i></a></td>

            <% } %>
            <td>
                <a href="/tickets/displayActivity/<%= ticket.id %>"><i class="fa fa-history" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% }%>
<% include ../../partials/footer %>